/* -------------------------------------- */
/* ## Homepage
/* ------------------------------------- */

/* Upcoming Events */
.program_offering_blocks.isu-block-front h2 {
	color: #ffffff;
}

/* New Events Styles */
/* .program_offering_blocks.isu-block-front h2 {
        color: #ffffff;
}

.program_offering_blocks.isu-block-front.isu-block {
	background-color: #ffffff;
	border: 2px solid #000000;
}*/

.isu-block-front h2.isu-block-title.h4 {
	margin-bottom: .25rem;
}

/*div.program_offering_blocks h2.isu-block-title.h4 {
	border-bottom: 3px solid #f1be48;
}*/

ul.county_events {
        list-style-type: none;
        padding-left: 0rem;
	padding-bottom: 25px;
}

p.event_longDate {
        display: none;
}

li.event {
        padding: 10px 0px;
        clear: both;
}

.isu-block-front li.event {
	color: #ffffff;
}

/*.isu-block-front li.event {
	color: #000000;
}*/
.isu-block-front div.event_title a { 
	color: #ffffff;
}

/*.isu-block-front div.event_title a {
	color: #000000;
}*/
a.county_calendar {
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 3px;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
	text-decoration: none;
}

a.event_title:hover, a.county_calendar:hover {
        text-decoration: underline;
}

.isu-block-front span.event_day {
	color: #ffffff;
}

/*.isu-block-front span.event_day {
	color: #000000;
}*/

.isu-block-front span.event_month {
	color: #ffffff;
}

/*.isu-block-front span.event_month {
	color: #000000;
}*/

.isu-block-front div.event_date {
	margin: 0 5px 8px 0;
}

.isu-block-front ul.program_offering_blocks {
	padding-bottom: 10px;
}

a.events_show_more.btn-outline-white {
	color: #ffffff;
	border: 1px solid #ffffff;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}

a.events_show_more.btn-outline-white:hover {
	color: #cc0000;
	background: #ffffff;
}

/* Local News */
.news-attachment table {
	width: 50%;
	float: left;
	display: inline-block;
}

.news-attachment .table tbody {
	border-bottom: 0px solid transparent;
}

.news-attachment .table td, .table th {
	border-top: 0px solid transparent;
}

.news-attachment img {
	padding-bottom: 10px;
}

#blazy-views-news-articles-attachment-1-3 {
	width: 50%;
	display: inline-grid;
	float: left;
}

#blazy-views-news-articles-block-1-1 {
	width: 50%;
	display: inline-grid;
}

#blazy-views-news-articles-block-1-1 img {
	float: left;
	margin: 10px;
}
