/* --------------------------------------  */
/* ## Typography
/* --------------------------------------  */

/* Fix body height */
html, body, .dialog-off-canvas-main-canvas, .isu-page-wrap {
	height: 43%;
}

/* Reduce size of h1 */
.h1, h1 {
	font-size: 1.75rem;
}

/* Reduce size of h2 */
.h2, h2 {
	font-size: 1.5rem;
}

/* Reduce size of h3 */
.h3, h3 {
	font-size: 1.25rem;
}

/* Reduce size of h4 */
.h4, h4 {
	font-size: 1rem;
}

/* Reduce size of h5 */
.h5 {
	font-size: 14px;
	font-weight: bold;
}

/* --------------------------------------  */
/* ## Red Bar
/* --------------------------------------  */

/* Reduce size of yellow bar */
.isu-site-navbar {
	border-bottom: 4px solid #f1be48;
}

/* Reduce space on top and bottom of wordmark and sitename */
.isu-row-site-navbar {
	margin-top: -15px;
	margin-bottom: -15px;
}

/* Site Name Size Change */
.isu-wordmark-sitename {
	font-size: 22px;
	margin-left: -8px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 13px;
	padding-bottom: 10px;
}

.isu-wordmark-sitename a:hover {
	color: #fff;
	text-decoration: none;
}

/* Red bar social media menu */
.isu-social-menu-red {
	color: #fff;
	background: transparent;
	padding-left: 30px;
	position: absolute;
	top: 105px;
	text-align: center;
}

/* --------------------------------------  */
/* ## Main Menu
/* --------------------------------------  */

/* Add hover effect to main menu links */
.isu-nav-link:hover {
	border-bottom: 3px solid #bbb !important;
}

/* Dropdown Menu */
.isu-dropdown-menu {
	background: #fff;
}

.isu-dropdown-item a:focus, .isu-dropdown-item a:hover, .isu-dropdown-item a.active, .isu-dropdown-item a:active {
	background: transparent;
	color: #cc0000;
}

.navbar-nav .dropdown-menu {
	box-shadow: 0px 2px 3px 0px #aaa;
}

/* Main Menu link changes */
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 10px 12px;
	letter-spacing: .5px;
	border-bottom: 3px solid transparent;
	transition: all 0.1s ease;
}

/* Main Menu Link Hover Changes */
.isu-nav-link:hover {
	background: #eeeeee;
	border-bottom: 3px solid #bbb;
}


/* --------------------------------------  */
/* ## Banner Slider
/* -------------------------------------  */

.flexslider {
	background: none;
	border: none;
}

/* ------------------------------------- */
/* ## Panel
/* ------------------------------------- */

.layout--threecol-33-34-33 > .layout__region--first, .layout--threecol-33-34-33 > .layout__region--third, .layout--threecol-33-34-33 > .layout__region--second {
	flex: 0 1 31%;
	min-width: 250px;
	margin: 0 0.5rem;
	margin-bottom: 1rem;
	padding: 1rem;
	border: 1px solid #ddd;
}

.col-lg-9 {
	flex: 0 0 100%;
	max-width: 100%;
}

/* --------------------------------------  */
/* ## Content Area
/* --------------------------------------  */

/* Breadcrumb Styling
.isu-breadcrumb {
	margin-left: 11px;
}
*/

.node--unpublished {
	background: #fff4f4;
	border: 1px dashed #fff4f4;
}

/* Page Title */
.isu-page-title {
	padding-top: 1.5rem;
}

/* Change Authored on information display */
.isu-user ~ div > .isu-submitted-by_name, .isu-user ~ div > .isu-submitted-by_date {
	display: inline-block;
}

.isu-user ~ div > .isu-submitted-by_name {
	font-size: 0.85rem;
}

/* Sidebar */
.isu-page-column {
	padding-left: 11px;
	max-width: 75%;
}

.isu-region.isu-region_sidebar-second {
	margin-top: 2rem;
}

.isu-sidebar .isu-block {
	padding: 1rem;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.isu-block-title {
	font-weight: 300;
	border-bottom: solid 1px #ccc;
	padding: 0 0 13px 0;
}

/* News Styles */
.card-body svg:not(:root).svg-inline--fa {
	display: inline-block;
}

/* Button Styles */
.btn-danger {
	background-color: #cc0000;
	border-color: #cc0000;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}

.btn-danger:hover {
	background-color: #000000;
	border-color: #000000;
}	

.btn-outline-danger {
	color: #cc0000;
	border: 1px solid #cc0000;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}

.btn-outline-danger:hover {
	background-color: #cc0000;
	border-color: #cc0000;
}

.btn-primary{
	background-color: #006BA6;
        border-color: #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-primary:hover{
	background-color: #003D4C;
	border-color: #003D4C;
}

.btn-outline-primary {
	color: #006BA6;
	border: 1px solid #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-outline-primary:hover {
	background-color: #006BA6;
	border-color: #006BA6;
}

.btn-secondary {
	background-color: #707372;
	border-color: #707372;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-secondary:hover {
	background-color: #6E6259;
	border-color: #6E6259;
}

.btn-outline-secondary {
	color: #707372;
	border: 1px solid #707372;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-outline-secondary:hover {
	background-color: #707372;
	border-color: #707372;
}

/* Block Title */
h2.isu-block-title.h4 {
	margin-bottom: 1rem;
	line-height: 1.25;
	font-size: 1.5rem;
}

/* Accordion Styles */
dl {
	padding-left: 0rem;
}

.ckeditor-accordion-container > dl {
	border: 1px solid transparent;
}

.ckeditor-accordion-container > dl dt.active > a {
	background-color: #dddddd;
}

.ckeditor-accordion-container > dl dt > a {
	color: #000000;
	background-color: #eeeeee;
	border-bottom: 1px solid transparent;
	margin-bottom: .5rem;
	border-radius: 4px;
}

.ckeditor-accordion-container > dl dt > a:hover {
	background-color: #dddddd;
}

.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
	background: #555555;
}


/* --------------------------------------  */
/* ## Events
/* --------------------------------------  */

.event_details_registration {
	padding-top: 20px;
}

.event_description {
	padding-top: 20px;
	padding-bottom: 20px;
}

.event_details_dates {
	float: left;
	font-style: italic;
	padding-right: 5px;
}

.events_show_more{
	background-color: #006BA6;
        border-color: #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		margin-left: 5%;
		color: #fff;
		text-decoration: none;
}

.events_show_more:hover{
	background-color: #202124;
	color: #fff;
	text-decoration: none;
}


/* --------------------------------------  */
/* ## Footer
/* --------------------------------------  */


/* Change footer background color and text color */
.isu-footer {
	color: #d3d3d3;
	background: #333;
}

.isu-region.isu-region_footer-fourth {
	font-size: 14px;
}

/* Change footer link color */
.isu-footer a {
	color: #d3d3d3;
}

/* Change size of stacked wordmark in footer */
.isu-footer-logo {
	max-width: 250px;
	margin-top: -15px;
	padding-bottom: 10px;`
}

/* Change footer associates menu link color */
.isu-associates-menu {
	margin-top: 0;
	font-weight: 700;
}

.isu-associates-menu a {
	text-decoration: underline;
	font-size: 14px;
	padding-left: 18px;
}

/* Change footer link hover color and add text decoration */
.isu-footer a:hover {
	color: #fff;
	text-decoration: underline;
}

/* Reduce size of font in contact footer block */
.isu-region_footer-third {
	font-size: 14px;
}

/* Styled static social media icons */
.isu-social-menu-static {
  list-style-type: none;
  padding: 0;
}
.isu-social-menu-static a {
  display: inline-block;
  color: #676767;
  text-decoration: none;
}

/* Change font color and size of social media menu text */
.isu-social-menu a {
	font-size: 14px;
}

/* Adjust legal menu links */
.isu-legal-menu a {
	display: inline-block;
	text-decoration: underline;
}

/* Add text decoration to legal footer menu */
.isu-legal-menu a:hover {
	text-decoration: underline;
}

/* Reduce size of copyright in footer */
.isu-copyright {
	font-size: 12px;
}

.isu-legal-menu {
	font-size: 12px;
}

/* -------------------------------------- */
/* ## Layout Builder Homepage
/* -------------------------------------- */
.layout--onecol, .layout--threecol-section {
	width: 135%;
}

.layout__region--third {
	border: 1px solid #eee;
}

.layout__region--third .isu-block-title {
	padding: 18px;
}
	

/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */

@media (min-width: 992px) {
	.dropdown.is-hoverable:hover > .dropdown-menu {
    	display: block;
	}
  
	.isu-wordmark-logo {
		max-width: 365px;
		margin-left: -17px;
	}
	
	.navbar-expand-lg .navbar-nav {
		margin-left: -19px;
	}

	.bean-card_text{
		position: relative;
		color: #ffffff;
		padding-top: 22%;
		border: 1px solid #eee;
		height: 180px;
		margin-bottom: 25px;
		margin-right: 25px;
	}
}
	

@media screen and (max-width : 992px) {
 	.isu-wordmark-logo {
 		max-width: 275px;
 	}
 	
 	.isu-wordmark-sitename {
 		margin-left: -92px;
 	}
	 
	.bean-card_text{
		position: relative;
		color: #ffffff;
		padding-top: 22%;
		border: 1px solid #eee;
		height: 180px;
		margin-bottom: 25px;
		margin-right: 25px;
	}
 }

@media screen and (max-width : 768px) {
 	.isu-wordmark-logo {
 		margin-top: 1.5rem;
 	}
 	
 	.isu-wordmark-sitename {
 		padding-left: 0px;
 		margin-left: -39px;
 		padding-bottom: 16px;
 		font-size: 20px;
 		padding-top: 5px;
	}
	 
	.bean-card_text{
		position: relative;
		color: #ffffff;
		padding-top: 22%;
		border: 1px solid #eee;
		height: 180px;
		margin-bottom: 25px;
		margin-right: 25px;
	}
 	
 }

/* --------------------------------------  */
/* ## Bean Cards
/* --------------------------------------  */
.bean-card {
	position: relative;
	display: flex;
	justify-content: center;
	border-radius: 3px;
	color: #ffffff;
  }
  
  .bean-card_text {
	position: relative;
	color: #ffffff;
	padding-top: 22%;
	border: 1px solid #eee;
	height: 180px;
	margin-bottom: 25px;
	margin-right: 25px;
  }
 
 
  .bean-card.bean-card_width_full {
	display: block;
  }
  
  a.bean-card_link {
	display: block;
	position: relative;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden; 
  }
	.bean-card a:hover {
	  box-shadow: 0 0 5px 1px #7a99ac;
	}
  
  .bean-card_img img {
	width: 100%;
  }
  
  .bean-card_label {
	padding: 0.75rem 1rem;
	background: #cc0000;
	width: 100%;
	position: absolute;  
}
  
  .bean-card .fa {
	margin-right: 1rem;
	padding-right: 5px;
  }
  
  .bean-card_label p {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-size: 1.5em;
	line-height: 1.25;
  }
  
  /* Colors */
  .bean-card_blue .bean-card_label { background: #006ba6; }
  .bean-card_green .bean-card_label { background: #6A7A1A; }
  .bean-card_dark-red .bean-card_label { background: #7c2529; }
  .bean-card_dark-blue .bean-card_label { background: #003D4C; }
  .bean-card_dark-green .bean-card_label { background: #3E4827; }
  .bean-card_brown .bean-card_label { background: #8b5b29; }
  .bean-card_grey .bean-card_label { background: #707372; }
  
  /* Overlay */
  /* Overlay needs a minimum height in case there is no image. */
  .bean-card.bean-card_dark-overlay_left,
  .bean-card.bean-card_dark-overlay_bottom {
	min-height: 100px;
	background: #efefef;
  }
  
  .bean-card_dark-overlay_left .bean-card_label,
  .bean-card_dark-overlay_bottom .bean-card_label {
	position: absolute;
	text-align: left;
	background: rgba(0, 0, 0, 0.75);
  }
  
  .bean-card_dark-overlay_left .bean-card_label {
	left: 0; bottom: 20%;
	max-width: 90%;
  }
  
  .bean-card_dark-overlay_bottom .bean-card_label {
	left: 0; bottom: 0; right: 0;
	width: 100%;
  }
  .bean-card_overlay_top{
	  bottom: 78%;
  }
    
/* Text Size */
  
  .bean-card_text-sm p {
	font-size: 1em;
  }
  
  .bean-card_text-md p {
	font-size: 1.5em;
  }
  
  .bean-card_text-lg p {
	font-size: 2em;
  }
  
  .bean-card_text-sm .fa {
	margin-right: 0.5rem;
	padding-right: 5px;
  }
  
  .bean-card_text-md .fa {
	margin-right: 1rem;
	padding-right: 5px;
  }
  
  .bean-card_text-lg .fa {
	margin-right: 1.25rem;
	padding-right: 5px;
  }

  .bean-card_body{
	  color: black;
	  margin-bottom: 15%;
	  text-align: left;
	padding-left: 7%; 
 }
  
  /* Kill external link icon */
  #section-content .bean-card a.external:after { display: none; }


/* --------------------------------------  */
/* ## Aggregator Feed
/* --------------------------------------  */  
.views-field-description{
	padding-bottom: 25px;
}

/* --------------------------------------  */
/* ## Flex Slider
/* --------------------------------------  */
.flex-active-slide{
	width: 140%;
}
