/* --------------------------------------  */
/* ## Typography
/* --------------------------------------  */

/* Fix body height */
html, body, .dialog-off-canvas-main-canvas, .isu-page-wrap {
	height: 43%;
}

/* Reduce size of h1 */
.h1, h1 {
	font-size: 1.75rem;
}

/* Reduce size of h2 */
.h2, h2 {
	font-size: 1.5rem;
}

/* Reduce size of h3 */
.h3, h3 {
	font-size: 1.25rem;
}

/* Reduce size of h4 */
.h4, h4 {
	font-size: 1rem;
}

/* Reduce size of h5 */
.h5 {
	font-size: 14px;
	font-weight: bold;
}

/* --------------------------------------  */
/* ## Red Bar
/* --------------------------------------  */

/* Reduce size of yellow bar */
.isu-site-navbar {
	border-bottom: 4px solid #f1be48;
}

/* Reduce space on top and bottom of wordmark and sitename */
.isu-row-site-navbar {
	margin-top: -15px;
	margin-bottom: -15px;
}

/* Site Name Size Change */
.isu-wordmark-sitename {
	font-size: 22px;
	margin-left: -4%;
	font-weight: 700;
	line-height: 24px;
	padding-top: 13px;
	padding-bottom: 10px;
}

.isu-wordmark-sitename a:hover {
	color: #fff;
	text-decoration: none;
}

/* Red bar social media menu */
.isu-social-menu-footer {
	margin-left: 13%;
}

.isu-social-menu-red {
	color: #fff;
	background: transparent;
	padding-left: 18%;
	text-align: left;
}

.isu-col-header-first {
	text-align: -webkit-match-parent;
}

/* --------------------------------------  */
/* ## Main Menu
/* --------------------------------------  */

/* Add hover effect to main menu links */
.isu-nav-link:hover {
	border-bottom: 3px solid #bbb !important;
}

/* Dropdown Menu */
.isu-dropdown-menu {
	background: #fff;
	box-shadow: 0px 2px 3px 0px #aaa;
}

.isu-dropdown-item a:focus,
.isu-dropdown-item a:hover,
.isu-dropdown-item a.active,
.isu-dropdown-item a:active {
	background: transparent;
	color: #cc0000;
}

.navbar-nav .dropdown-menu {
	box-shadow: 0px 2px 3px 0px #aaa;
}

/* Main Menu link changes */
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 10px 12px;
	letter-spacing: .5px;
	border-bottom: 3px solid transparent;
	transition: all 0.1s ease;
}

/* Main Menu Link Hover Changes */
.isu-nav-link:hover {
	background: #eeeeee;
	border-bottom: 3px solid #bbb;
}

/* Third Level Menu */
.isu-dropdown-submenu {
  left: 100%;
  margin-top: -47px;
}

a.isu-dropdown-submenu {
  display: block;
  background: #fff;
  padding: 10px 12px;
}

/* --------------------------------------  */
/* ## Banner Slider
/* -------------------------------------  */

.flexslider {
	background: none;
	border: none;
}

/* ------------------------------------- */
/* ## Panel
/* ------------------------------------- */

.layout--threecol-33-34-33 > .layout__region--first, .layout--threecol-33-34-33 > .layout__region--third, .layout--threecol-33-34-33 > .layout__region--second {
	flex: 0 1 31%;
	min-width: 250px;
	margin: 0 0.5rem;
	margin-bottom: 1rem;
	padding: 1rem;
	border: 1px solid #ddd;
}

.col-lg-9 {
	flex: 0 0 100%;
	max-width: 100%;
}


/* --------------------------------------  */
/* ## Content Area
/* --------------------------------------  */

.isu-region_content {
	margin: auto;
}

/* Breadcrumb Styling
.isu-breadcrumb {
	margin-left: 11px;
}
*/

/* Translation */
.gtranslate {
	float: right;
	padding: 15px;
}

.node--unpublished {
	background: #fff4f4;
	border: 1px dashed #fff4f4;
}

/* Page Title */
.isu-page-title {
	padding-top: 1.5rem;
}

/* Change Authored on information display */
.isu-user ~ div > .isu-submitted-by_name, .isu-user ~ div > .isu-submitted-by_date {
	display: inline-block;
}

.isu-user ~ div > .isu-submitted-by_name {
	font-size: 0.85rem;
}

li article:not(.isu-user):not(.isu-search_collapse) {
	margin-bottom: 0rem;
}

span.authored-on {
	font-style: oblique;
	font-size: .9em;
	color: #666;
}

/* Media Captions */
.caption > figcaption {
	background-color: #eeeeee;
	margin-top: -2.5rem;
	padding: 14px;
	border-left: .15rem solid #f1be48;
	font-size: 14px;
	font-style: italic;
}

/* Image Styles */
figure.align-left {
	margin-right: 25px;
}

.align-left {
	margin-right: 25px;
}

figure.align-right {
	margin-left: 25px;
}

.align-right {
	margin-left: 25px;
}

.views-view-grid .views-col {
	max-width: 50%;
}

.views-view-grid .views-row {
	padding: 15px;
}

/* Sidebar */
.isu-page-column {
	padding-left: 11px;
	max-width: 75%;
}

.isu-region.isu-region_sidebar-second {
	margin-top: 2rem;
}

.isu-region_sidebar-second .h3 {
	border-bottom: 1px solid #ddd;
}

.isu-sidebar .isu-block {
	padding: 1.5rem;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.isu-block-title {
	font-weight: 300;
	border-bottom: solid 1px #ccc;
	padding: 0 0 13px 0;
}

/* Accordion Styles */
.ckeditor-accordion-container > dl dt.active > a {
	background-color: #eeeeee;
	text-decoration: none;
	font-size: 1.15rem;
}

.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
	background: #000000;
}

.ckeditor-accordion-container dt {
	font-weight: inherit;
}

.ckeditor-accordion-container > dl dt > a {
	text-decoration: none;
	font-size: 1.15rem;
}

.ckeditor-accordion-container > dl dd {
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding: 1em 2.2em 1.2em;
}



/* News Styles */
.card-body svg:not(:root).svg-inline--fa {
	display: inline-block;
}

/* Button Styles */
.btn-danger {
	background-color: #cc0000;
	border-color: #cc0000;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}

.btn-danger:hover {
	background-color: #000000;
	border-color: #000000;
}	

.btn-outline-danger {
	color: #cc0000;
	border: 1px solid #cc0000;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}

.btn-outline-danger:hover {
	background-color: #cc0000;
	border-color: #cc0000;
}

.btn-primary{
	background-color: #006BA6;
        border-color: #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-primary:hover{
	background-color: #003D4C;
	border-color: #003D4C;
}

.btn-outline-primary {
	color: #006BA6;
	border: 1px solid #006BA6;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-outline-primary:hover {
	background-color: #006BA6;
	border-color: #006BA6;
}

.btn-success{
        background-color: #00854D;
        border-color: #00854D;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
                padding: 7px;
                white-space: break-spaces;
}

.btn-success:hover{
        background-color: #3E4827;
        border-color: #3E4827;
}

.btn-outline-success {
        color: #00854D;
        border: 1px solid #00854D;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
                padding: 7px;
                white-space: break-spaces;
}

.btn-outline-success:hover {
        background-color: #00854D;
        border-color: #00854D;
}

.btn-secondary {
	background-color: #707372;
	border-color: #707372;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-secondary:hover {
	background-color: #6E6259;
	border-color: #6E6259;
}

.btn-outline-secondary {
	color: #707372;
	border: 1px solid #707372;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        transition: background 0.2s ease;
		padding: 7px;
		white-space: break-spaces;
}

.btn-outline-secondary:hover {
	background-color: #707372;
	border-color: #707372;
}

/* Block Title */
h2.isu-block-title.h4 {
	margin-bottom: 1rem;
	line-height: 1.25;
	font-size: 1.5rem;
}

/* Accordion Styles */
dl {
	padding-left: 0rem;
}

.ckeditor-accordion-container > dl {
	border: 1px solid transparent;
}

.ckeditor-accordion-container > dl dt.active > a {
	background-color: #dddddd;
}

.ckeditor-accordion-container > dl dt > a {
	color: #000000;
	background-color: #eeeeee;
	border-bottom: 1px solid transparent;
	margin-bottom: .5rem;
	border-radius: 4px;
}

.ckeditor-accordion-container > dl dt > a:hover {
	background-color: #dddddd;
}

.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
	background: #555555;
}

.align-center img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* Staff List*/
td.staff-view-smugmug img {
	max-width: 100px;
	margin: 10px 0px;
}

/* Layout Builder */
.featured-pubs {
	clear:  both;
}

/* --------------------------------------  */
/* ## Footer
/* --------------------------------------  */

/* Change footer background color and text color */
.isu-footer {
	color: #d3d3d3;
	background: #333;
}

.isu-region.isu-region_footer-fourth {
	font-size: 14px;
}

/* Change footer link color */
.isu-footer a {
	color: #d3d3d3;
}

.isu-footer .col-sm-6.col-md-6.col-lg-3 {
	padding-bottom: 20px;
}

.isu-footer-logo {
	max-width: 250px;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Change footer associates menu link color */
.isu-associates-menu {
	margin-top: 0;
	font-weight: 700;
}

.isu-associates-menu a {
	text-decoration: underline;
	font-size: 14px;
	padding-left: 18px;
}

/* Change footer link hover color and add text decoration */
.isu-footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.isu-footer .isu-social-menu-red {
	padding-left: 0px;
	margin-left: -2%;
}

/* Reduce size of font in contact footer block */
.isu-region_footer-third {
	font-size: 14px;
}

/* Styled static social media icons */
.isu-social-menu-static {
  list-style-type: none;
  padding: 0;
}
.isu-social-menu-static a {
  display: inline-block;
  color: #676767;
  text-decoration: none;
}

/* Change font color and size of social media menu text */
.isu-social-menu a {
	font-size: 14px;
}

/* Adjust legal menu links */
.isu-legal-menu a {
	display: inline-block;
	text-decoration: underline;
}

/* Add text decoration to legal footer menu */
.isu-legal-menu a:hover {
	text-decoration: underline;
}

/* Reduce size of copyright in footer */
.isu-copyright p {
	margin-bottom: 0;
	font-size: 14px;
}

.isu-legal-menu {
	font-size: 12px;
}

/* --------------------------------------  */
/* ## Media Library
/* --------------------------------------  */

.media-library-item__preview {
	padding-bottom: 15%;
}

.field.field--name-field-media-document.field--type-file.field--label-visually_hidden {
	padding-left: 14%;
	padding-top: 3%;
}

/* --------------------------------------  */
/* ## Signoff
/* --------------------------------------  */

.isu-footer .isu-sign-off_wrapper {
  background: #ffffff;
  color: #333333;
}

.isu-region_sign-off {
  font-size:14px;
}

.isu-sign-off_wrapper a {
  color:#333333;
}

.isu-sign-off_wrapper a:hover {
  color:#000000;
}

div#block-staff-links div {
  display: inline-block;
}

/* -------------------------------------- */
/* ## Layout Builder
/* -------------------------------------- */
.layout--onecol, .layout--threecol-section {
	width: 100%;
}

.announcement {
	font-weight: 700;
	font-variant: small-caps;
	font-size: 1.2em;
	padding-bottom: 20px;
	max-width: 1115px;
	margin-left: auto;
	margin-right: auto;
}

div#block-iastate-theme-local-tasks {
	padding-left: 0%;
	padding-right: 6%;
	padding-top: 10px;
	max-width: 1135px;
	margin: auto;
}

div#block-iastate-theme-page-title--2 {
	padding-left: 0%;
	padding-right: 6%;
	max-width: 1135px;
	margin: auto;
}

div#edit-actions {
	max-width: 1135px;
	margin: auto;
}

.js-form-type-vertical-tabs {
	max-width: 1135px;
	margin: auto;
}

form#node-layout-ct-layout-builder-form {
	padding-left: 6%;
	padding-right: 6%;
}

/* Settings Tray */
#drupal-off-canvas button, #drupal-off-canvas .button {
	border: #006ba6;
	padding: 7px;
	background: #006ba6;
	color: #ffffff;
	border-radius: 3px;
	margin: 0 0 3px;
}

#drupal-off-canvas button:hover, #drupal-off-canvas input[type="reset"]:hover, #drupal-off-canvas input[type="submit"]:hover, #drupal-off-canvas input[type="button"]:hover {
	background-color: #ffffff;
	border-color: #006ba6;
	color: #006ba6;
}

/* Layout Builder Content Type */
.node-type_layout-ct .row, 
.node-type_educational-programs-page .row, 
.node-type_homepage-ct .row {
	margin-left: 0;
	margin-right: 0;
}

.node-type_layout-ct .isu-region.isu-region_content, 
.node-type_educational-programs-page .isu.region.isu-region_content, 
.node-type_homepage-ct .isu-region.isu-region_content {
  width: 100%;
}
/*
.node-type_layout-ct #block-iastate-theme-help,
.node-type_layout-ct #block-iastate-theme-page-title--2,
.node-type_layout-ct #block-iastate-theme-local-tasks,
.node-type_layout-ct #node-layout-ct-layout-builder-form,
.node-type_layout-ct form#layout-builder-discard-changes,
.node-type_homepage-ct #block-iastate-theme-local-tasks,
.node-type_homepage-ct #block-iastate-theme-help,
.node-type_homepage-ct #block-iastate-theme-page-title--2,
.node-type_educational-programs-page #block-iastate-theme-help,
.node-type_educational-programs-page #block-iastate-theme-page-title--2,
.node-type_educational-programs-page #block-iastate-theme-local-tasks,
.node-type_educational-programs-page #node-educational-programs-page-layout-builder-form,
.node-type_educational-programs-page form#layout-builder-discard-changes,
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 60%;
}*/

.node-type_layout-ct #layout_builder,
.node-type_educational-programs-page #layout_builder,
.node-type_homepage-ct #layout_builder {
  border: 3px solid #2f91da;
  background-color: #fff;
}

.node-type_layout-ct form#layout-builder-discard-changes,
.node-type_educational-programs-page form#layout-builder-discard-changes {
.node-type_homepage-ct form#layout-builder-discard-changes,
  padding-bottom: 20px;
}

/* Educational Programs Page
 * Removes ablitiy to edit the edu_prog_field description block placed layout
 */
.layout-builder__section[aria-label="edu_field_body_section"] > a,
.layout-builder__section[aria-label="edu_field_body_section"] .layout-builder__add-block {
  display: none;
}

/* .layout-builder__section[aria-label="edu_field_body_section"] div.layout-builder-block[data-layout-block-uuid="6e84f67a-2edb-4aa8-8df0-e8dbc134d70d"] .layout-builder-block-update,
.layout-builder__section[aria-label="edu_field_body_section"] div.layout-builder-block[data-layout-block-uuid="6e84f67a-2edb-4aa8-8df0-e8dbc134d70d"] .layout-builder-block-remove {
  display: none;
}

/*- Layout Builder Base -*/

/* --------------------------------------  */
/* ## Aggregator Feed
/* --------------------------------------  */
.views-field-description{
        padding-bottom: 25px;
}

/* --------------------------------------  */
/* ## Flex Slider
/* --------------------------------------  */
.flex-active-slide{
        width: 140%;
}
	
/* --------------------------------------  */
/* ## Bean Cards
/* --------------------------------------  */
  .bean-card {
	position: relative;
	justify-content: center;
	border-radius: 3px;
	color: #ffffff;
	margin-bottom: 1rem;
  }
  
  /* Old bean-card body css
  .bean-card_text {
	position: relative;
	color: #ffffff;
	padding-top: 22%;
	border: 1px solid #eee;
	height: 180px;
	margin-bottom: 25px;
	margin-right: 25px;
  } */
 
  .bean-card.bean-card_width_full {
	display: block;
  }
  
  a.bean-card_link {
	display: block;
	position: relative;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden; 
  }

  .bean-card a:hover {
	  box-shadow: 0 0 5px 1px #7a99ac;
	}

  /* Used for image card */
  .bean-card_img img {
	width: 100%;
  }
  
  .bean-card_label {
	display: flex;
	padding: 0.75rem 1rem;
	justify-content: center;
	background: #cc0000;
	font-size: 1.5rem;
  }
  
  .bean-card_label p {
	margin: 0;
	line-height: 1.45;
  }

  .bean-card_label div {
	margin: 0;
  }

  /* Used for content card */
  .bean-card_body {
	color: black;
	padding: 0.5rem 0.5rem 0 0.5rem;
	border: 3px solid #CC0000;
  }
  

  /* Fontawesome icons - this isn't being used (used declaration on line: 842)
  .fontawesome-icons {
	font-family: 'FontAwesome';
  } */

  div.fontawesome-icon i {
	font-style: normal;
  }
  
  /* Colors */
  .bean-card_label.Blue  { background: #006ba6; }
  .bean-card_label.Green { background: #00854d; }
  .bean-card_label.Dark-Red { background: #7C2529; }
  .bean-card_label.Dark-Blue { background: #003D4C; }
  .bean-card_label.Dark-Green { background: #3E4827; }
  .bean-card_label.Brown { background: #8b5b29; }
  .bean-card_label.Grey { background: #707372; }

  /* Changes color of border depending on selected label color (content cards) */
  .bean-card_body.Blue { border-color: #006ba6; }
  .bean-card_body.Green { border-color: #00854d; }
  .bean-card_body.Dark-Red { border-color: #7C2529; }
  .bean-card_body.Dark-Blue { border-color: #003D4C; }
  .bean-card_body.Dark-Green { border-color: #3E4827; }
  .bean-card_body.Brown { border-color: #8b5b29; }
  .bean-card_body.Grey { border-color: #707372; }
  
  /* Overlay */
  /* Overlay needs a minimum height in case there is no image. */
  .bean-card_label.Dark-Overlay_Left,
  .bean-card_label.Dark-Overlay_Bottom {
	min-height: 100px;
	background: #efefef;
  }
  
  .bean-card_label.Dark-Overlay_Left,
  .bean-card_label.Dark-Overlay_Bottom {
	position: absolute;
	text-align: left;
	background: rgba(0, 0, 0, 0.75);
  }
  
  .bean-card_label.Dark-Overlay_Left {
	left: 0; bottom: 20%;
	max-width: 90%;
  }
  
  .bean-card_label.Dark-Overlay_Bottom {
	left: 0; bottom: 0; right: 0;
	width: 100%;
  }
    
/* Text Size */
  .fontawesome-icons {
	font-family: FontAwesome;
  }
  
  .bean-card_label.Small {
	font-size: 1rem !important;
  }

  .bean-card_label.Medium {
	font-size: 1.5rem !important;
  }
  
  .bean-card_label.Large {
	font-size: 2rem !important;
  }
  
  .bean-card_label.Small div.fontawesome-icons {
	margin-right: 0.5rem;
	padding-right: 5px;
  }
  
  .bean-card_label.Medium div.fontawesome-icons {
	margin-right: 1rem;
	padding-right: 5px;
  }
  
  .bean-card_label.Large div.fontawesome-icons {
	margin-right: 1.25rem;
	padding-right: 5px;
  }

/* Kill external link icon */
#section-content .bean-card a.external:after { display: none; }

/* Hamburger Menu */
.navbar-toggler:not(:disabled):not(.disabled) {
	margin-top: -23px;
}

/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media (min-width: 992px) {
	.isu-wordmark-logo {
		max-width: 365px;
		margin-left: -6%;
	}
	
	.navbar-expand-lg .navbar-nav {
		margin-left: -19px;
	}
	
	.isu-col-header-first {
		text-align: -webkit-match-parent;
	}



}

	
@media screen and (max-width : 1199px) {
	
	.isu-social-menu-footer{
		margin-left: 10px;
	}

	/* Layout Builder Responsive*/
	div#block-iastate-theme-local-tasks {
		padding-left: 0%;
		padding-right: 6%;
		padding-top: 10px;
		max-width: 955px;
		margin: auto;
	}

	div#block-iastate-theme-page-title--2 {
		padding-left: 0%;
		padding-right: 6%;
		max-width: 955px;
		margin: auto;
	}

	div#edit-actions {
		max-width: 955px;
		margin: auto;
	}

	.js-form-type-vertical-tabs {
		max-width: 955px;
		margin: auto;
	}

}



@media screen and (max-width : 991px) {
 	.isu-wordmark-logo {
 		max-width: 360px;
		margin-top: 0.5rem;
 	}
	
	 .isu-navbar_container{
		 width: inherit;
	 }
	
	/*change navbar width to fit screen*/
	.isu-site-navbar div {
		max-width: inherit;
	}
	
	 /*change search logo color*/
	.isu-search_toggler svg path {
		fill: white;
	}

	/*Change search text*/
	.isu-search_toggler-label {
		visibility: hidden;
		position: relative;
	}
	.isu-search_toggler-label::after{
		visibility: visible;
		position: absolute;
		top: 0;
		left: 33px;
		content: 'search';
		text-align: center;
	}
	
	.isu-search_toggler {
		margin-top: -23px;
	}

	 /* Adjust Site Name */
	 .isu-wordmark-sitename{
		 margin-left: 0.5rem;
		 padding-top: 0px;
		 padding-bottom: 0px;
	 }

	 /*Get rid of margins for isu site nav bar*/
	 .isu-row-site-navbar{
		 margin-top: 0px;
		 margin-bottom: 0px;
	 }

	 /* Adjust Socails*/
	 .isu-social-menu-red{
		 padding-left: 85px;
	 }

	 .isu-social-menu a{
		font-size: 10px;
	}

	div#block-iastate-theme-page-title--2 {
		padding-left: 6%;
		padding-right: 6%;
		max-width: 955px;
		margin: auto;
	}

	div#block-iastate-theme-local-tasks {
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 10px;
		max-width: 955px;
		margin: auto;
	}
	 

	/* Change menu-item backgrond color for condensed menu */
	.navbar-expand-lg .navbar-nav .nav-link {
		background-color: #eeeeee;
	}

	/* Adjust submenu alignment for condensed menu */
	.isu-dropdown-submenu {
		top: 0;
		margin-top: 0;
	}

	.news-attachment table  {
		width: 100% !important; 
	}
	.views-field-field-teaser{
		display: table-cell !important;
	}
	.views-field-field-teaser a img {
		width: 100%;
	}

	/* Responsive 
 	
  /* Old bean-card body css
	.bean-card_text{
		position: relative;
		color: #ffffff;
		padding-top: 15%;
		border: 1px solid #eee;
		height: 180px;
		margin-bottom: 25px;
		margin-right: 25px;
	} */
	
	.isu-footer-logo {
		margin-left: -8%;
	}

	.isu-social-menu-footer{
		margin-left: 0px;
	}

	.isu-footer {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.isu-copyright {	
		padding-bottom: 20px;
	}
 }

@media screen and (max-width : 768px) {
 	.isu-wordmark-logo {
 		margin-top: 0.3rem;
		margin-bottom: 0rem;
		max-width: 300px;
 	}
	

	/* Adjust Socails*/
	.isu-social-menu-red{
		padding-left: 84px;
	}

	 /*Adjust menu tool*/
	 .navbar-toggler:not(:disabled):not(.disabled){
		 margin-top: -10px;
	 }
 	
 	.isu-wordmark-sitename {
 		padding-left: 0px;
 		padding-bottom: 0px;
		margin-left: 0.5rem;
 		font-size: 15px;
 		padding-top: 0px;
	}

	.isu-social-menu-footer{
		margin-left: 0px;
		/*max-width: 100px;*/
	}

	.isu-search_toggler-label::after{
		left: 25px;
	}
	
	.isu-search_toggler-label {
		font-size: 9px;
	}

	.isu-footer-logo {
		margin-top: -7px;
		padding-bottom: 20px;
	}

	.isu-search_toggler {
		margin-top: 0px;
	}
  /* Old bean-card body css
	.bean-card_text{
		position: relative;
		color: #ffffff;
		padding-top: 15%;
		border: 1px solid #eee;
		height: 180px;
		margin-bottom: 25px;
		margin-right: 25px;
	} */
	
	.isu-region_footer-third {
		margin-bottom: 1rem;
	} 	

	.isu-page-column {
		max-width: 98%;
	}
 }

/* "Add a new custom block" changes */
a.inline-block-list__item:hover {
  text-decoration: none !important;
}
a.inline-block-list__item:hover :not(.inline-block-list__item-custom-block-description)   {
  text-decoration: underline;
}
.inline-block-list__item-custom-block-description {
  color: #FFF;
  font-size: 13px;
  margin-left: 10px;
}

@media screen and (max-width : 575px) {
.isu-footer-logo{
	padding-left: 3%;
	padding-bottom: 0px;
}

.isu-col-header-first {
	padding-left: 5px;
	padding-right: 5px;
}

.isu-search_toggler{
	padding-left: 0px;
}

.isu-social-menu-red{
	padding-left: 73px;
}
}
