/**
 * @file
 * Supplemental CSS for the ISU Theme's social icons
 */

.isu-social-menu  a:before {
  border-radius: 0;
  color: #444;
  margin-right: 0.25em;
  display: inline-block;
  font-size: 2em;
  font-family: FontAwesome;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle
}
.isu-social-menu a:hover:before {
  text-decoration: none
}
.isu-social-menu a[href*='facebook.com']:before {
  content: "\f082"
}
.isu-social-menu a[href*='facebook.com']:hover:before {
  color: #3b5998
}
.isu-social-menu a[href*='twitter.com']:before {
  content: "\f081"
}
.isu-social-menu a[href*='twitter.com']:hover:before {
  color: #4099ff
}
.isu-social-menu a[href*='instagram.com']:before {
  content: "\f16d"
}
.isu-social-menu a[href*='instagram.com']:hover:before { /* woof */
  background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),-webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),-webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),-webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),-webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),-webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),-webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),-webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.isu-social-menu a[href*='youtube.com']:before {
  content: "\f166"
}
.isu-social-menu a[href*='youtube.com']:hover:before {
  color: #e52d27
}
.isu-social-menu a[href*='github.com']:before {
  content: "\f092"
}
.isu-social-menu a[href*='github.com']:hover:before {
  color: #000000
}
.isu-social-menu a[href*='plus.google.com']:before {
  content: "\f0d4"
}
.isu-social-menu a[href*='plus.google.com']:hover:before {
  color: #dd4b39
}
.isu-social-menu a[href*='linkedin.com']:before {
  content: "\f08c"
}
.isu-social-menu a[href*='linkedin.com']:hover:before {
  color: #007bb5
}
.isu-social-menu a[href*='pinterest.com']:before {
  content: "\f0d3"
}
.isu-social-menu a[href*='pinterest.com']:hover:before {
  color: #cb2027
}
.isu-social-menu a[href*='reddit.com']:before {
  content: "\f1a2"
}
.isu-social-menu a[href*='reddit.com']:hover:before {
  color: #ff4500
}
.isu-social-menu a[href*='snapchat.com']:before {
  content: "\f2ad"
}
.isu-social-menu a[href*='snapchat.com']:hover:before {
  color: #fffc00
}
.isu-social-menu a[href*='vimeo.com']:before {
  content: "\f194"
}
.isu-social-menu a[href*='vimeo.com']:hover:before {
  color: #1ab7ea
}
.isu-social-menu a[href*='tumblr.com']:before {
  content: "\f174"
}
.isu-social-menu a[href*='tumblr.com']:hover:before {
  color: #32506d
}
.isu-social-menu a[href*='twitch.tv']:before {
  content: "\f1e8";
  font-size: 30px
}
.isu-social-menu a[href*='twitch.tv']:hover:before {
  color: #6441A5
}
.isu-social-menu a[href*='vine.co']:before {
  content: "\f1ca";
  font-size: 30px
}
.isu-social-menu a[href*='vine.co']:hover:before {
  color: #00b488
}
.isu-social-menu a[href*='rss']:before {
  content: "\f143"
}
.isu-social-menu a[href*='rss']:hover:before {
  color: #f26522
}
.isu-social-menu a[href*='flickr.com']:before {
  content: "\f16e"
}
.isu-social-menu a[href*='flickr.com']:hover:before {
  background: linear-gradient(to right, #0063dc 50%, #ff0084 50%);
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 6px;
  margin: 6px 13px 6px 6px
}
.isu-social-menu a[href*='steampowered.com']:before {
  content: "\f1b7"
}
.isu-social-menu a[href*='steampowered.com']:hover:before {
  color: #000
}
.isu-social-menu a[href*='viadeo.com']:before {
  content: "\f2aa"
}
.isu-social-menu a[href*='viadeo.com']:hover:before {
  color: #f07355
}
.isu-social-menu a[href*='ok.ru']:before {
  content: "\f264"
}
.isu-social-menu a[href*='ok.ru']:hover:before {
  color: #ed812b
}
.isu-social-menu a[href*='behance.net']:before {
  content: "\f1b5"
}
.isu-social-menu a[href*='behance.net']:hover:before {
  color: #1769ff
}
.isu-social-menu a[href*='xing.com']:before {
  content: "\f169"
}
.isu-social-menu a[href*='xing.com']:hover:before {
  color: #026466
}
.isu-social-menu a[href*='last.fm']:before {
  content: "\f203"
}
.isu-social-menu a[href*='last.fm']:hover:before {
  color: #d51007
}
.isu-social-menu a[href*='bitbucket.org']:before {
  content: "\f172"
}
.isu-social-menu a[href*='bitbucket.org']:hover:before {
  color: #205081
}
.isu-social-menu a[href*='meanpath.com']:before {
  content: "\f20c"
}
.isu-social-menu a[href*='meanpath.com']:hover:before {
  color: #5690d4
}
.isu-social-menu a[href*='ycombinator.com']:before {
  content: "\f1d4"
}
.isu-social-menu a[href*='ycombinator.com']:hover:before {
  color: #ff6600
}
.isu-social-menu a[href*='piedpiper.com']:before {
  content: "\f1a7"
}
.isu-social-menu a[href*='piedpiper.com']:hover:before {
  color: #608c28
}
.isu-social-menu a[href*='del.icio.us']:before {
  content: "\f1a5"
}
.isu-social-menu a[href*='del.icio.us']:hover:before {
  background: linear-gradient(to right, #39f 50%, #222 50%);
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 6px;
  margin: 6px 13px 6px 6px;
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1)
}