/**
 * @file
 * Supplemental CSS for the ISU Theme's social icons
 */
 .isu-social-menu a:hover {
  color: #d3d3d3;
}
.isu-social-menu  a:before {
  content: '\f0c1';
  border-radius: 0;
  color: #fff;
  width: 1.5rem;
  margin-right: 0.25em;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  list-style-type: none;
}

.isu-social-menu-red a:hover {
  color: #fff;
}

.isu-social-menu-red li{
  list-style-type: none;
  display: inline-block;
}
.isu-social-menu-red  a:before {
  content: '\f0c1';
  border-radius: 0;
  color: #f1be48;
  width: 1.5rem;
  margin-right: 0.25em;
  font-family: FontAwesome;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
}

.isu-social-menu a:hover:before {
  color: #7c2529;
  text-decoration: none;
}
.isu-social-menu a[href*='facebook.com']:before {
  content: "\f082" / "Facebook";
}
.isu-social-menu a[href*='twitter.com']:before {
  content: "\f081" / "Twitter";
}
.isu-social-menu a[href*='instagram.com']:before {
  content: "\f16d" / "Instagram";
}

.isu-social-menu a[href*='youtube.com']:before {
  content: "\f166" / "YouTube";
}
.isu-social-menu a[href*='github.com']:before {
  content: "\f092" / "GitHub";
}
.isu-social-menu a[href*='plus.google.com']:before {
  content: "\f0d4" / "Google Plus";
}
.isu-social-menu a[href*='podcasts.google.com']:before {
  content: "\f2ce" / "Google Podcasts";
}
.isu-social-menu a[href*='linkedin.com']:before {
  content: "\f08c" / "LinkedIn";
}
.isu-social-menu a[href*='pinterest.com']:before {
  content: "\f0d3" / "Pinterest";
}
.isu-social-menu a[href*='reddit.com']:before {
  content: "\f1a2" / "Reddit";
}
.isu-social-menu a[href*='snapchat.com']:before {
  content: "\f2ad" / "Snapchat";
}
.isu-social-menu a[href*='tiktok.com']:before {
  content: "\e07b" / "TikTok";
}
.isu-social-menu a[href*='libsyn.com']:before {
  content: "\f2ce" / "Libsyn";
}
.isu-social-menu a[href*='vimeo.com']:before {
  content: "\f194" / "Vimeo";
}
.isu-social-menu a[href*='tumblr.com']:before {
  content: "\f174" / "Tumblr";
}
.isu-social-menu a[href*='medium.com']:before {
  content: "\f23a" / "Medium";
}
.isu-social-menu a[href*='drupal.org']:before {
  content: "\f1a9" / "Drupal";
}
.isu-social-menu a[href*='twitch.tv']:before {
  content: "\f1e8" / "Twitch";
  font-size: 30px;
}
.isu-social-menu a[href*='rss']:before {
  content: "\f143" / "RSS";
}
.isu-social-menu a[href*='flickr.com']:before {
  content: "\f16e" / "Flickr";
}
.isu-social-menu a[href*='steampowered.com']:before {
  content: "\f1b7" / "Steam Powered";
}
.isu-social-menu a[href*='behance.net']:before {
  content: "\f1b5" / "Behance";
}
.isu-social-menu a[href*='xing.com']:before {
  content: "\f169" / "Xing";
}
.isu-social-menu a[href*='bitbucket.org']:before {
  content: "\f172" / "Bitbucket";
}
.isu-social-menu a[href*='ycombinator.com']:before {
  content: "\f1d4" / "Y Combinator";
}
.isu-social-menu a[href*='researchgate.net']:before {
  content: "\e95e" / "Research Gate";
  font-family: Academicons;
  position: relative;
  top: -2px;
}
.isu-social-menu a[href*='scholar.google.com']:before {
  content: "\e9d4" / "Google Scholar";
  font-family: Academicons;
  position: relative;
  top: -2px;
}
