.links_block_field {
  display: -webkit-box;
}

a.links_block_field {
  text-decoration: none;
  margin-bottom: 0.55rem;
  width: fit-content;
}

a.links_block_field > p {
  margin: 0;
}

a.links_block_field:hover {
  color: #006BA6;
  text-decoration-color: #006BA6;
}

.links_block_field .fontawesome-icons svg {
  width: 1.5rem;
  margin-right: 0.25em;
  font-size: 1.45em;
  color: #d3d3d3 !important;
}

