/**
 * @file
 * Layout CSS styles for the ISU theme
 */

/* --- Push the footer down --- */
html,
body {
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
}

.isu-main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.isu-footer {
  flex-shrink: 0;
}