/**
 * @file
 * Layout CSS styles for the ISU theme
 */

/* --- Push the footer down --- */
 html,
 body {
  height: 100%; 
 }

 body {
  display: flex;
  flex-direction: column;
 }

 .isu-main {
  flex-grow: 1;
 }

/* --- Homepage block spacing --- */
/* block.html.twig adds this class for blocks on <front> */
.isu-main .isu-block-front { 
  margin-bottom: 3rem;
}