/**
 * @file
 * Supplemental CSS for the ISU Theme's utility classes
 */

/* --------------------------------------  */
/* ## NIMBUS SANS
/* --------------------------------------  */
/*
 * The Nimbus Sans font family is licensed from URW++ (//www.urwpp.de/en/)
 * for use on all websites owned and managed by or on behalf of 
 * Iowa State University. For information about the university's use of 
 * Nimbus Sans, please visit //www.theme.iastate.edu/. This font is licensed 
 * to be hosted on cdn.theme.iastate.edu and may not be copied to other servers.
 */

/* --- Nimbus Sans Utility Classes --- */
/* The following classes are provided as a method for quickly applying specific 
 * variants of Nimbus Sans to any element. These classes are not required to 
 * use Nimbus Sans in your project.
 */

/* Nimbus Sans Light */
.nimbus-sans-light {
  font-family: 'Nimbus Sans';
  font-style: normal;
  font-weight: 300;
}
.nimbus-sans-light-italic {
  font-family: 'Nimbus Sans';
  font-style: italic;
  font-weight: 300;
}

/* Nimbus Sans Regular */
.nimbus-sans, 
.nimbus-sans-regular {
  font-family: 'Nimbus Sans';
  font-style: normal;
  font-weight: 400;
}
.nimbus-sans-italic, 
.nimbus-sans-regular-italic {
  font-family: 'Nimbus Sans';
  font-style: italic;
  font-weight: 400;
}

/* Nimbus Sans Bold */
.nimbus-sans-bold {
  font-family: 'Nimbus Sans';
  font-style: normal;
  font-weight: 700;
}
.nimbus-sans-bold-italic {
  font-family: 'Nimbus Sans';
  font-style: italic;
  font-weight: 700;
}

/* Nimbus Sans Condensed */
.nimbus-sans-condensed {
  font-family: 'Nimbus Sans Condensed';
  font-style: normal;
  font-weight: 400;
}
.nimbus-sans-condensed-italic {
  font-family: 'Nimbus Sans Condensed';
  font-style: italic;
  font-weight: 400;
}
.nimbus-sans-condensed-bold {
  font-family: 'Nimbus Sans Condensed';
  font-style: normal;
  font-weight: 700;
}
.nimbus-sans-condensed-bold-italic {
  font-family: 'Nimbus Sans Condensed';
  font-style: italic;
  font-weight: 700;
}


/* --------------------------------------  */
/* ## MERRIWEATHER
/* --------------------------------------  */

/* --- Merriweather Utility Classes --- */
/* The following classes are provided as a method for quickly applying 
 * specific variants of Merriweather to any element. These classes are 
 * not required to use Merriweather in your project.
 */

/* Merriweather Light */
.merriweather-light {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
}
.merriweather-light-italic {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
}

/* Merriweather Regular */
.merriweather, 
.merriweather-regular {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
}
.merriweather-italic, 
.merriweather-regular-italic {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
}

/* Merriweather Bold */
.merriweather-bold {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
}
.merriweather-bold-italic {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
}

/* Merriweather Black */
.merriweather-black {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
}
.merriweather-black-italic {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
}