{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.hasClass('isu-search__search-btn') %}
  {# This class is added with a preprocess function in iastate_theme.theme #}

  <button{{ attributes.addClass('btn') }}>
    <i class="fa fa-search"></i>
    <span class="isu-search__search-btn-text">Submit search</span>
  </button>

{% else %}

  {% set submit_classes = ['btn', 'btn-secondary'] %}
  <button{{ attributes.addClass(submit_classes) }}>{{ attributes.value }}
  </button>

{% endif %}
