<div class="row align-items-center">
  <div class="col">
    <h1 class="h3">This website is ready for content!</h1>
    <p class="lead">Is this your site? <a href="{{ url('<front>')|render ~ 'login' }}">Log in now</a>.</p>
    <p>Need help? Visit the <a href="https://help.sites.iastate.edu">help site</a> or contact us at <a href="mailto:websupport@iastate.edu">websupport@iastate.edu</a></p>
  </div>
  <div class="col">
    <img src="{{ content }}" alt="Geometric graphic of a website under construction.">
  </div>
</div>