{#
/**
 * @file
 * CSS styles for the official Iowa State Navbar 
 *
 * It is strongly recommended that the Iowa State Navbar be included in all
 * Iowa State University websites. If it is not desired or relevant, remove or
 * disable it. Never repurpose or modify in any way.
 *
 * Other required files:
 * - css/isu-navbar.css
 * - js/isu-navbar.js 
*/
#}

<nav class="isu-navbar" aria-label="Iowa State University quicklinks">
   <ul class="isu-navbar_container" id="isu-navbar">
      <li class="isu-navbar_break" aria-hidden="true"></li>
      <li><a href="http://www.iastate.edu/">ISU</a></li>
      <li><a href="http://www.extension.iastate.edu/articles">News</a></li>
      <li><a href="https://store.extension.iastate.edu/">Store</a></li>
      <li><a href="http://www.extension.iastate.edu/content/contact-us">Contact Us</a></li>
      <li><a href="http://www.extension.iastate.edu/content/county-offices">Offices</a></li>
   </ul>
</nav>
