{#
/**
 * @file
 * Parital template to include the main menu.
 *
 * Regions:
 *  parts/menu-navbar.html.twig
 *  - page.menu_navbar: Primary site navigation
 * 
 * Template for the menu itself is in navigation/menu--main.html.twig
 *
 */
#}

<div> <!-- This class-less div is required so the layout won't collapse. -->
  <div class="navbar navbar-expand-lg isu-menu-navbar">
    <div class="container isu-menu-navbar_container">
       <div class="isu-menu-navbar_collapse isu-menu-navbar_wrap" id="isu-menu-navbar_collapse">
        {{ page.menu_navbar }}
      </div>
    </div>
  </div>
</div>