{#
/**
 * @file
 * Parital template to include the branded ISU header and its regions.
 *
 * Regions:
 *  parts/site-navbar.html.twig
 *  - page.header_first: First half of headery, typically for site branding.
 *  - page.header_second: Second half of header, typically for search and 
 *    site links.
 *
 */
#}

<header class="isu-site-navbar" role="banner">
  <div class="container">
    <div class="row isu-row-site-navbar">

      <button class="navbar-toggler isu-menu-navbar_toggler" type="button" data-toggle="collapse" id="isu-menu-navbar_toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon isu-menu-navbar_toggler-icon"></span>
        <span class="isu-menu-navbar_toggler-label">Menu</span>
      </button>

      <div class="col-lg isu-col-header-first">
        {{ page.header_first }}
      </div>

      {# Only show search toggle if Search is present #}
      {% if page.header_second.iastate_theme_searchform %}
        <div class="isu-search_toggler" id="isu-search_toggler">
          <span class="fa fa-search isu-search_toggler-icon" aria-hidden="true"></span>
          <span class="isu-search_toggler-label">Search</span>
        </div>
      {% endif %}

      {# Allow different styling if Search is present #}
      {% if page.header_second.iastate_theme_searchform %}
      <div class="col-lg isu-col-header-second isu-col-header-second_has-search">
      {% else %}
      <div class="col-lg isu-col-header-second">
      {% endif %}
        {{ page.header_second }}
      </div>

    </div>
  </div>
</header>