{#
/**
 * @file
 * Parital template for a re-usable component to display 'submitted by' content.
 *
 */
#}

<footer class="isu-submitted-by_card d-flex align-items-center mb-3" role="contentinfo">
  {{ author_picture }}
  <div>
    <span class="isu-submitted-by_name">{% trans %}Submitted by {{ author_name }} </span>
    <span class="isu-submitted-by_date"> on {{ date }}{% endtrans %}</span>
    {% if content.taxonomy_forums|render is not empty %}
      {% trans %}in <div class="d-inline-block">{{ content.taxonomy_forums }}</div>{% endtrans %}
    {% endif %}
  </div>
</footer>
